.header__logo {
    margin: 0 auto 0 0 0;
    padding-bottom: 41px;
    width: 142px;
}

@media screen and (max-width: 1279px) { 
    .header__logo { 
        width: 11.09375vw;
    } 
}

@media screen and (max-width: 767px) { 
    .header__logo { 
        width: 32.41875vw;
        margin: 8.75vw 0 0 10vw;
    } 
}