.popup__button {
    margin: 18px 0 0 0;
    background-color: #000000;
    width: 358px;
    min-height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
    padding: 0;
    border-radius: 2px;
}

.popup__button:hover{
    opacity: 0.8;
}
.popup.popup_delete-card .popup__button {
    margin: 38px 0 0 0;
}

@media screen and (max-width: 1279px) { 
    .popup__button { 
        margin: 1.40625vw 0 0 0;
        font-size: 1.40625vw;
        line-height: 1.71875vw;
        width: 27.96875vw;
        min-height: 3.90625vw;
    } 
}

@media screen and (max-width: 767px) { 
    .popup__button { 
        margin: 5.625vw 0 0 0;
        font-size: 4.375vw;
        line-height: 5.3125vw;
        width: 74.375vw;
        min-height: 14.375vw;
    } 
}