.profile__name {
    max-width: 450px;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #FFFFFF;
    font-style: normal;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1279px) { 
    .profile__name { 
        font-size: 3.28125vw;
    } 
}

@media screen and (max-width: 767px) { 
    .profile__name {
        font-size: 8.4375vw;
        line-height: 10.3125vw;
        
    } 
}