.element__image {
    width: 282px;
    border-radius: 0;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
    background-color: black;
    color: white;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 767px) { 
    .element__image {
        width: 88.125vw;
        
    } 
}