.profile__avatar-container {
    position: relative;
    width: 120px;
    border-radius: 50%;
    height: 120px;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 1279px) { 
    .profile__avatar-container { 
        width: 9.375vw;
        height: 9.375vw;
    } 
}

@media screen and (max-width: 767px) { 
    .profile__avatar-container { 
        width: 37.5vw;
        height: 37.5vw;
        
    } 
}