.footer {
    max-width: 880px;
    margin: 66px auto 0 auto;
    padding-bottom: 60px;
}

@media screen and (max-width: 1279px) { 
    .footer { 
        padding-bottom: 4.6875vw;
        max-width: 68.75vw;
    } 
}

@media screen and (max-width: 767px) { 
    .footer { 
        margin: 15vw 5.9375vw 0 5.9375vw;
        padding-bottom: 11.25vw;
        max-width: 88.125vw;
    } 
}